*,
*::after,
*::before {
  margin: 0;
  font-family: 'Inter';
  padding: 0;
}

*:focus,
*:focus-visible {
  outline-color: gold;
}

:root {
  --header-bg: #1f2633;
  --body-bg: #f0f0f0;
  --header-color: crimson;
  --page-header-bg: #fff;
  --contact-span-size: 0.6rem;
  --resume-section-h2-size: 1rem;
  --resume-section-h3-size: 0.7rem;
  --resume-section-space: 2rem;
  --resume-para-size: 0.7rem;
  --resume-span-size: 0.7rem;
  --resume-sidebar-bg: oklch(0.87 0 0);
  --strong-size: 0.6rem;
  --svg-size: 20px;
  --user-icon-size: 100px;
  --li-decoration-size: 4px;
  --li-text-node-size: 0.7rem;
  --list-padding: 7px;
  --list-spacing: 5px;
  --editor-h3-size: 1.2rem;
  --btns-field-font-size: .6rem;
  --btn-more-field-font-color: #000;
  --btn-less-field-font-color: #fff;
  --btn-more-field-bg: gold;
  --btn-less-field-bg: var(--header-bg);
  --h3-editor-section-color: oklch(from gold calc(l - .3) c h);
  --editor-h3-weight: 600;
}

body {
  min-height: 100svh;
  max-width: 100vw;
  overflow-x: auto;
  background: var(--body-bg);
  display: flex;
}

#root {
  width: 100vw;
}

#root > header {
  min-height: 50px;
  padding-left: 16px;
  box-shadow: 0 0 10px oklch(0 0 0 /0.2);
  font-weight: 700;
  background: var(--page-header-bg);
  color: var(--header-color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  overflow-x: auto;
  justify-items: center;
}

.preview-wrapper {
  overflow-x: auto;
  max-width: 100vw;
}

.editor-wrapper {
  max-width: 100vw;
  overflow-x: auto;
}

.resume-preview {
  overflow-x: auto;
  min-width: max-content;
  max-width: 400px;
  box-shadow: 0 0 10px oklch(0 0 0 / 0.2);
  margin: 16px;
  display: grid;
  grid-template-columns: minmax(170, 30%) 1fr;

  .resume-section {
    margin-bottom: var(--resume-section-space);
  }

  h2 {
    color: var(--header-bg);
    font-size: var(--resume-section-h2-size);
    position: relative;
    margin-bottom: 10px;
  }

  h2::after {
    content: '';
    background-color: var(--header-bg);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(3px);

    min-height: 1px;
    min-width: 100%;
  }

  h3 {
    color: var(--header-bg);
    font-size: var(--resume-section-h3-size);
  }

  p {
    font-size: var(--resume-para-size);
  }

  span {
    color: var(--header-bg);
    font-size: var(--resume-span-size);
  }

  header {
    grid-column: span 2;
    background: var(--header-bg);
    padding: 4vh 0 4vh 0;
    display: flex;
    justify-content: center;

    h1 {
      font-size: 1.1rem;
      color: #fff;
    }
  }
  .project-tech {
    /* font-size: calc(var(--resume-para-size) - 0.1rem); */
    margin-top: 10px;
  }
}

.resume-sidebar {
  position: relative;
  background: var(--resume-sidebar-bg);
  padding: 20px;
  padding-top: 20px;
}
.user-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  width: var(--user-icon-size);
}

.contact-items {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 5px;
  column-gap: 6px;

  li {
    grid-column: span 3;
    display: grid;
    grid-template-columns: subgrid;
    justify-content: space-evenly;

    * {
      align-self: center;
      justify-self: start;
    }

    strong {
      font-size: var(--strong-size);
      color: var(--header-bg);
    }

    span {
      font-weight: 600;
      font-size: var(--contact-span-size);
    }

    svg {
      padding: 3px;
      transform: translateY(1px);
    }
  }
}

svg {
  width: var(--svg-size);
  fill: var(--header-bg);
}

li:not(.phone, .email, .location, .linkedin) {
  position: relative;
  list-style: none;
  font-size: var(--li-text-node-size);
  margin-bottom: var(--list-spacing);
}

li:first-child:not(.phone) {
  margin-top: var(--list-spacing);
}

li:not(.email, .phone, .linkedin, .location, :empty)::before {
  content: '';
  position: absolute;
  left: -7px;
  bottom: 0.4rem;
  transform: translateY(100%);

  width: var(--li-decoration-size);
  height: var(--li-decoration-size);
  border-radius: 50%;
  background-color: var(--header-bg);
}

.resume-main {
  padding: 20px 20px 20px 20px;
}

strong {
  color: var(--header-bg);
  font-size: var(--strong-size);
}

ul:not(.contact-items) {
  padding-left: var(--list-padding);
}

.skill-strong {
  margin-right: 5px;
}

.achievement-para {
  display: flex;
  gap: 10px;
}

.language-list,
.cert-description {
  display: flex;
  gap: 10px;
}

.editor-section {
  display: flex;
  flex-direction: column;


  h3 {
    font-size: var(--editor-h3-size);
    color: var(--h3-editor-section-color);
    font-weight: var(--editor-h3-weight);
    text-transform: uppercase;
  }

  .more-field,
  .less-field {
    border: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--btns-field-font-size);
    box-shadow: 0 0 7px oklch(0 0 0 /0.2);
    border-radius: 8px;
    padding: 5px 15px;
    width: max-content;
    transition: ease .2s all;
  }

  .more-field {
    color: var(--btn-more-field-font-color);
    background: var(--btn-more-field-bg);
  }

  .more-field:hover {
    background-color: oklch(from var(--btn-more-field-bg) calc(l - 0.1) c h);
  }

  .more-field:active {
    background-color: oklch(from var(--btn-more-field-bg) calc(l + 0.1) c h);
  }

  .less-field {
    color: var(--btn-less-field-font-color);
    background: var(--btn-less-field-bg);
  }

  .less-field:hover {
    background-color: oklch(from var(--btn-less-field-bg) calc(l - 0.1) c h);
  }

  .less-field:active {
    background-color: oklch(from var(--btn-less-field-bg) calc(l + 0.1) c h);
  }

  .editor-section-btn-div {
    padding-right: 50px;
    justify-content: end;
    display: flex;
    gap: 10px;
  }

  .contact-input-section {
    display: grid;
    padding: 6px;
    grid-template-columns: auto auto;
    grid-template-areas:
    'phone location'
    'email linkedin';
    column-gap: 20px;


    .phone {
      grid-area: phone;
      max-width: 100px;
    }
    .email {
      grid-area: email;
    }
    .location {
      grid-area: location;
      max-width: 100px;
    }
    .linkedin {
      grid-area: linkedin;
      max-width: 150px;
    }
  }

  .certification-input-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-template-areas:
    'title year'
    'institute institute';

    .year {
      grid-area: year;
    }
    .institute {
      grid-area: institute;
    }
    .title {
      grid-area: title;
    }
  }

}

.editor-section {
  .input-setup {
    display: flex;
    flex-direction: column;

    label {
      color: var(--header-bg);
      font-weight: 700;
    }
  }
  input,
  textarea {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid var(--header-bg);
    margin-top: 5px;
  }

  input:focus::placeholder,
  input:focus-visible::placeholder,
  textarea:focus::placeholder,
  textarea:focus-visible::placeholder {
    color: oklch(from gold calc(l - .3) c h)
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--header-bg);
  }

}

.editor {
  margin: 10px;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 0 10px oklch(0 0 0 / 0.2);
  width: max-content;

  >header {
    margin: 30px 0;
  }
  * {
    color: var(--header-bg);
  }
  label {
    margin-bottom: 5px;
  }
  input,
  textarea,
  h3 {
    margin-bottom: 10px;
  }
}
